body {
  color: #606468;
  font: 24px 'Open Sans', sans-serif;
  margin: 0;
  background-image: url(https://static1.squarespace.com/static/541ca6ace4b09194f7659e16/t/57e01ff31b631ba91823fcd2/1474306036159/corporate-grey-low-poly-geometric-motion-background-video-animation-hd-1920x1080_nypfik1eg__M0008.jpg?format=1500w);
}
.detail_reg{
    padding-top: 5%;
	margin: auto;
}
 .info{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 525px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
	-webkit-box-shadow: 0px 10px 20px 15px rgba(217,208,217,0.9);
	-moz-box-shadow: 0px 10px 20px 15px rgba(217,208,217,0.9);
	box-shadow: 0px 10px 20px 15px rgba(217,208,217,0.9);
}
.info h1{
    background: #555;
    padding: 20px 0;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.info input[type="text"],
.info input[type="password"],
.info select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.info input[type="text"]:focus,
.info input[type="password"]:focus,
.info select:focus
{
    box-shadow: 0 0 5px #555;
    padding: 3%;
    border: 1px solid #555;
}

.info input[type="submit"]{
    box-sizing: border-box;
	font-size: 24px;
	font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #555;
    border-bottom: 2px solid #555;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.info input[type="submit"]:hover{
    cursor : pointer;
    background: #555;
}